# test stuff
_SpecRunner.html
qa/

tmp/
tmp
.tmp/
doc/

# Mac specific
.DS_Store

# Ansible
hosts
production_hosts

# Buck-trap
dist
dist/
auth.json

# NPM and Yarn
npm-debug.log
yarn-error.log
node_modules/
node_modules
vendor/
